/dpef.html-embedded-jsonld.nq-00000
/dpef.html-embedded-jsonld.nq-00000.gz
/dpef.html-embedded-jsonld.nq-00001.gz
/dpef.html-embedded-jsonld.nq-00002.gz
/dpef.html-embedded-jsonld.nq-00003.gz
/dpef.html-embedded-jsonld.nq-00004.gz
/dpef.html-embedded-jsonld.nq-00005.gz
